.skill{
  padding-top: 112.5vw;

  .title{
    position: absolute;
    top: 205px;
    left: 0;
    width: 100%;
    padding: 0 20px;

    .line{
      display: flex;
      justify-content: center;
      align-items: center;
      transform-style: preserve-3d;
      perspective: 150px;

      span{
        display: inline-block;
        transform: rotateX(-120deg);
        opacity: 0;
        transform-style: preserve-3d;
        font-size: 12vw;
        font-family: 'LeferiPoint-WhiteObliqueA';
        transition: transform 1.4s, ease-in-out opacity 1.2s ease-in-out;
      }
    }

    &.active{
      .line{
        @for $i from 1 through 5{
          span:nth-child(#{$i}){
            transition-duration: calc(1.25s + #{0.4 * $i}s);
          }
        }

        span{
          transform:rotateX(0);
          opacity: 1;
        }
      }
    }

    &#fixed{
      position: fixed;
      z-index: 50;
      padding: 0 20px;
      left: 0;
      top: 0;
      width: 100%;
    }
  }


}